html {
    scroll-behavior: smooth;
}

/* Start Global Variables */
:root {
    --background-color: #d4d4d4;
    --front-color: #264996;
}
  /* End Global Variables */

body {
font-family: 'Work Sans', sans-serif;
background-color: var(--background-color); /* Fallback color */
/* background: linear-gradient(to right, #2c2826, #000000); */
}

.App {
    background: var(--background-color); /*Fallback color*/
    /* background: linear-gradient(to right, #2c2826, #000000); */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.the-main {
    flex: 1;
    /* background-color: rgb(111, 40, 40); */
}

/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* For Chrome, Safari, and Opera */
::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-thumb {
    background: var(--front-color);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--background-color);
    box-shadow: inset 0px 0px 5px 0px black;
    border-radius: 3px;
}

  /* For Firefox */
::-moz-scrollbar {
    width: 11px;
}

::-moz-scrollbar-thumb {
    background: var(--front-color);
    border-radius: 10px;
}

::-moz-scrollbar-track {
    background-color: var(--background-color);
    box-shadow: inset 0px 0px 5px 0px black;
    border-radius: 3px;
}

  /* For Edge */
::-ms-scrollbar {
    width: 11px;
}

::-ms-scrollbar-thumb {
    background: var(--front-color);
    border-radius: 10px;
}

::-ms-scrollbar-track {
    background-color: var(--background-color);
    box-shadow: inset 0px 0px 5px 0px black;
    border-radius: 3px;
}

/* End Global Rules */

.logo-container {
    margin: 0;
    /* background: var(--background-color); */
    background: #e6e6e6;
    /* background: linear-gradient(to right, #2c2826, #000000); */
    width: 100%;
    height: 55px;
    /* border-bottom: 20px solid black; */
}

.top-logo-menu {
    position: relative;
}

.logo-name {
    margin: 0;
    text-decoration: none;
    color: var(--front-color);
    position: absolute;
    left: 25px;
    top: 10px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 9;
}

.landing {
    /* margin: 64px; */
    background: var(--background-color); /*Fallback color*/
    /* background: linear-gradient(to right, #2c2826, #000000); */
    /* height: calc(100vh - 193px); */
    height: 539px;
    position: relative;
}

.intro-text {
    text-align: center;
    color: #264996;
    position: absolute;
    left: 50%;
    margin-top: 50px;
    /* top: 50%; */
    translate: -50% 0%;
    width: 640px;
    /* max-width: 100%; */
}

.landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 63px;
}

.landing .intro-text p {
    margin: 0;
    color: black;
    margin-top: 20px;
    font-size: 17px;
    line-height: 1.8;
}

.button-start {
    margin: 0;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: var(--front-color);
    border: none;
    color: white;
    width: 250px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.button-start:hover {
    box-shadow: 0px 15px 20px #26499656;
    transform: translateY(-3px);
}

.button-start span {
    display: inline-block;
    margin-left: 6px;
    translate: 0 18%;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid white;
}

.main {
    position: relative;
    border-top: 5px solid var(--front-color);
    background-color: var(--background-color);
    /* background: linear-gradient(to right, #ff4830, #fc5000); */
    height: 700px;
    width: 100%;
    margin: 0;
}

.main-title {
    color: #264996;
    font-size: 29px;
    position: absolute;
    left: 100px;
    top: 55px;
}

.main-content {
    position: absolute;
    left: 285px;
    width: 63%;
    top: 150px;
    gap: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.main-content img {
    width: 250px;
    height: 250px;
}

.main-content div {
    text-align: center;
    color: #264996;
}

.main-content h4 {
    
    font-size: 25px;
}

.main-content p {
    font-size: 16px;
    max-width: 650px;
    color: black;
}

@media(max-width:1130px) {
    .main-title {
    font-size: 28px;
    left: 50px;
    top: 50px;
    }
    .main-content {
        left: 206px;
    }

}

@media(max-height:610px) {
    
    .landing {
        margin-bottom: 50px;
    }

}

@media(max-height:490px) {
    
    .landing {
        margin-top: 100px;
        margin-bottom: 150px;
    }

}

@media(max-height:300px) {
    
    .landing {
        margin-top: 200px;
        margin-bottom: 250px;
    }

}


@media(max-width:1040px) {
    .main-title {
    font-size: 25px;
    left: 22px;
    top: 50px;
    }
    .main-content {
        left: 156px;
    }

}


@media(max-width:915px) {
    
.main-content {
    left: 99px;
}

}


@media(max-width:830px) {
    
.main-content {
    left: 51px;
    width: 63%;
}

}


@media(max-width:780px) {
    
.main-content {
    left: 138px;
    top: 140px;
    gap: 125px;
    grid-template-columns: repeat(1, 1fr);
}

.main-title {
    font-size: 25px;
    left: 22px;
    top: 50px;
}

.main {
    height: 1300px;
}
}

@media(max-width:668px) {
    
    .main-content {
        left: 114px;
    }
    
    }

@media(max-width:668px) {
    
    .main-content {
        left: 96px;
    }
        
} 

@media(max-width:600px) {
    
    .landing .intro-text h1 {
        font-size: 60px;
    }

    .landing .intro-text p {
        font-size: 14px;
    }

    .button-start {
        width: 228px;
    }
    
} 

.footer-container {
    margin-top: auto;
    position: relative;
}

.footer {
    background: var(--front-color); /*Fallback color*/
    /* background: linear-gradient(to right, #8d0c00, #a02b2b); */
    padding: 30px 10px;
    color: #ffffff;
    width: 100%;
    /* height: 200px; */
    margin-top: auto;
    text-align: center;
    font-size: 18px;
}

.footer span {
    color: black;
    font-weight: bold;
}

.footer a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.instructions-container {
    margin-left: 75px;
}

.main-title-2 {
    color: #264996;
    font-size: 19px;
}

.instructions-parent {
    /* border-top: 5px solid var(--front-color); */
    background-color: var(--background-color);
    /* background-color: rgb(111, 40, 40); */
    /* padding: 100px; */
    padding: 15px;
    padding-top: 25px;
    /* height: 135px; */
}

.logo-container-for-config {
    margin: 0;
    /* background: #2c2826; Fallback color */
    /* background: linear-gradient(to right, #2c2826, #000000); */
    /* background-color: var(--background-color); */
    background: #e6e6e6;
    width: 100%;
    height: 55px;
}

.top-logo-menu-for-config {
    position: relative;
}

.logo-name-for-config {
    margin: 0;
    text-decoration: none;
    color: var(--front-color);
    position: absolute;
    left: 25px;
    top: 10px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 9;
}

/* Start the configuration process: */
.config-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: var(--background-color);
    padding-bottom: 75px;
}

.config-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 720px;
    height: 480px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    margin: 0 15px 15px 15px;
    background-color: var(--background-color);
    /* background-color: rgba(0, 0, 0, 0.1); */
    transition: 0.3s;
    cursor: pointer;
}
.web-cam{
    width: 99%;
    height: 99%;
    object-fit: cover;
    border-radius: 10px;
}

.interview-vid {
    position: absolute;
    left: 50%;
    top: 14%;
    transform: translateX(-50%);
    width: 50%;
    height: 45%;
    object-fit: cover;
    border-radius: 10px;
}

.example {
    width: 725px;
    height: 400px;
    margin-top: 25px;
}

.config-box:hover {
    background-color: #26499656;
}

.config-img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.config-box p {
    font-size: 18px;
    color: #264996;
    text-align: center;
    margin: 0;
}

/* Ending the configuration process: */


/* starting field.js style */

.field-container {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
    padding-left: 90px;
    padding-right: 90px;
    transition: 0.3s;
}

.field-container button {
    border: 1px solid var(--front-color);
    border-radius: 15px;
    background-color: var(--background-color);
    text-align: center;
    font-weight: 600;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 15px;
    transition: 0.2s;
}

.field-container button:hover {
    /* color: #264996; */
    background-color: #264996
}

.activeField {
    background-color: #264996 !important;
}

/* ending field.js style */

@media(max-width:790px) {
    
    .config-box {
        width: 415px;
        height: 205px;
    }

}

@media(max-width:640px) {
    
    .config-box {
        width: 350px;
        height: 180px;
        margin: 20px 15px 15px 15px;
    }

}


.question-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.question-box {
    width: 730px;
    height: 435px;
    /* background-color: #fff; */
    margin-top: 30px;
    margin-bottom: 40px;
    border-radius: 15px;
    box-shadow: 0 0 30px var(--front-color);
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    animation: pop-in 0.5s forwards;
}

.question {
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
    color: #264996;
    opacity: 0;
    animation: fade-in-for-question 0.5s forwards 0.5s;
}

#questionId {
    position: absolute;
    bottom: 15%;
    padding-left: 20px;
    padding-right: 20px;
}

.ex-start-holder {
    margin-top: 100px;
    text-align: center;
}

.ex-start {
    /* margin-top: 90px; */
    color: white;
    background-color: var(--front-color);
    border: none;
    /* background: linear-gradient(to right, #ff4830, #fc5000); */
    font-size: 18px;
    width: 185px;
    height: 35px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    opacity: 0;
    animation: fade-in-for-start 0.5s forwards 0.9s;
}

.ex-start:hover {
    box-shadow: 0px 15px 20px #26499656;
    transform: translateY(-3px);
}

.ex-next-holder {
    margin-top: 75px;
    margin-left: 430px;
    text-align: center;
}

.ex-next {
    color: white;
    background-color: var(--front-color); /*backup color*/
    border: none;
    /* background: linear-gradient(to right, #780a00, #932f00); */
    font-size: 18px;
    width: 185px;
    height: 35px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    opacity: 0;
    animation: fade-in-for-next 0.5s forwards 1.3s;
}

.ex-next:hover {
    box-shadow: 0px 15px 20px #26499656;
    transform: translateY(-3px);
}

.icons-holder-interview {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin: 20px;
    margin-bottom: 0;
    opacity: 0;
    animation: fade-in-for-question 0.5s forwards 0.5s;
}

.icons-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 20px;
    opacity: 0;
    animation: fade-in-for-question 0.5s forwards 0.5s;
}

.icons-for-interview {
    justify-content: space-between;
}

.icons-for-interview i {
    margin-right: 10px;
}

.icons-for-interview > div {
    display: flex;
    align-items: center;
}

.icons-for-interview > div > div {
    margin-right: 10px;
}

.icons-for-interview > div button {
    padding: 5px 10px;
}

.icons-holder i {
    color: #264996;
    font-size: 20px;
    margin-left: 18px;
}

@keyframes pop-in {
    0% {
    transform: scale(0.5);
    opacity: 0;
    }
    100% {
    transform: scale(1);
    opacity: 1;
    }
}

@keyframes fade-in-for-question {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}

@keyframes fade-in-for-start {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}

@keyframes fade-in-for-next {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}

.clicked i {
    color: red;
}

.icons-for-interview.clicked i {
    color: red;
}


.link-container-for-example-page {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.link-container-for-interview-page {
    margin-bottom: 35px;
    margin-top: 35px;
}

.logo-name-for-interview {
    color: var(--front-color);
}

.icons-for-interview i {
    color: #264996;
}

.instructions-parent-for-interview {
    /* border-top: 5px solid var(--front-color); */
    /* background: linear-gradient(to right, #2c2826, #000000); */
    background-color: var(--background-color);
}

.question-box-for-interview {
    box-shadow: 0 0 30px var(--front-color);
}

.report-title {
    font-size: 25px;
}

.report-container {
    height: 600px;
}

@media(max-width:800px) {
    .question-box {
        width: 560px;
    }
    .ex-next-holder {
        margin-top: 75px;
        margin-left: 320px;
    }
    .ex-next {
        font-size: 16px;
        width: 160px;
        height: 35px;
    }
    .ex-start {
        font-size: 16px;
        width: 160px;
        height: 35px;
    }
    .question {
        font-size: 21px;
    }
    .button-start {
        width: 200px;
    }
}

@media(max-width:650px) {
    .question-box {
        width: 470px;
    }
    .ex-next-holder {
        margin-left: 230px;
    }
    .main-title-2 {
        font-size: 17px;
    }    
    .question {
        font-size: 19px;
    }
    .button-start {
        width: 185px;
    }
}

/* ------------------ */
/* timer  */
.timer {
    color: red;
    display: none;
}

.timer-update {
    display: initial;
}

.running-container {
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

.time-running {
    display: none;
    margin: 0;
    margin-right: 15px;
    font-weight: bold;
    color: rgb(187, 11, 11);
}

.time-running-update {
    display: initial;
}


