html {
    scroll-behavior: smooth;
}

body {
font-family: 'Work Sans', sans-serif;
background: #2c2826; /*Fallback color*/
background: linear-gradient(to right, #2c2826, #000000);
}

/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.logo-container {
    margin: 0;
    background: #2c2826; /*Fallback color*/
    background: linear-gradient(to right, #2c2826, #000000);
    width: 100%;
    height: 100px;
    /* border-bottom: 20px solid black; */
}

.logo-name {
    margin: 0;
    text-decoration: none;
    color: white;
    position: fixed;
    left: 25px;
    top: 10px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 9;
}

.landing {
    /* margin: 64px; */
    height: calc(100vh - 240px);
    position: relative;
}

.intro-text {
    text-align: center;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 640px;
    max-width: 100%;
}

.landing .intro-text h1 {
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 63px;
}

.landing .intro-text p {
    font-size: 17px;
    line-height: 1.8;
}